<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>showImages</title>
    <style type="text/css">
        .float{
            float:left;
            width : 200px;
            height: 200px;
            overflow: hidden;
            border: 1px solid #CCCCCC;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
        }
        img{
            position: relative;
        }
        .result{
            width: 200px;
            height: 200px;
            text-align: center;
            box-sizing: border-box;
        }
        .file_input{
            display: none;
        }
        .view{
            width: 200px;
            height:200px;
            position: absolute;
            text-align: center;
            line-height: 200px;
            z-index: 10;
            font-size: 30px;
            background-color: rgba(255,255,255,0.8);
            color: #777;
            opacity: 0;
            transition-duration: 0.7s;
            -webkit-transition-duration: 0.7s;
        }
        .view:hover{
            cursor: pointer;
            opacity: 1;
        }
    </style>
</head>
<body>
<div class="container">
    <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
       id="contextPath"></a>
    <p>Session value: <span th:text="${session}">No Value</span></p>
    <label>请选择一个图像文件：</label>
    <button class="select" type="button">(重新)选择图片</button>
    <!--<button id="add" type="button">(追加)图片</button>-->
    <input type="file" class="file_input" name="myFile1" multiple/> <!--用input标签并选择type=file，记得带上multiple，不然就只能单选图片了-->


    <label>请选择一个图像文件：</label>
    <button class="select" type="button">(重新)选择图片</button>
    <!--<button id="add" type="button">(追加)图片</button>-->
    <input type="file" class="file_input" name="myFile2" multiple/>


    <button id="submit" type="submit">提交</button>
<hr>
    <img width="200px" id="toShow" src="" alt="">
</div>
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:999;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script th:src="@{javascripts/imgEnlarge.js}"></script>
<script th:src="@{javascripts/exif.min.js}"></script>
<script type="text/javascript">
    var contextPath;
    window.onload = function(){
        contextPath = $('#contextPath').attr('href');
        var result;
        var dataArr = []; // 储存所选图片的结果(文件名和base64数据)
        var $oSelect = $('.select');
        var $oSubmit = $('#submit');
        var $input = $('.file_input');
        var canvas;
        var base64;

        $input.each(function () {
            if(typeof FileReader==='undefined'){
                alert("抱歉，你的浏览器不支持 FileReader");
                $(this).attr('disabled', 'disabled');
            }else{
                $(this).on('change', readFile);
            }
        })

        function readFile(event){
            var file = this.files['0'];
            if (file == null || file == undefined) {
                return;
            }
            var pictype = file.type;
            var type = pictype.split("/")[1];
            // var iLen = this.files.length;
            // var index = 0;
            // for(var i=0;i<iLen;i++){
                if (!type.match(/jpg|png|jpeg|bmp/i)){　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择");
                }
            if (file.size > 10 * 1024 * 1024) {
                alert("请上传一张小于10M的照片哦！");
                return;
            }
            var Orientation = null;

            if (file) {
                EXIF.getData(file, function () {
                    EXIF.getAllTags(this);
                    Orientation = EXIF.getTag(this, 'Orientation');
                });
                var oReader = new FileReader();
                oReader.readAsDataURL(file);
                oReader.onload = function (e) {

                    result = '<div class="view">点击预览</div><div class="result"><img src="'+this.result+'" alt=""/></div>';
                    var div = document.createElement('div');
                    div.innerHTML = result;
                    div['className'] = 'float';
                    div['index'] = index;
                    document.getElementsByTagName('body')[0].appendChild(div);  　　//插入dom树
                    var img = div.getElementsByTagName('img')[0];
                    img.onload = function(){
                        var nowHeight = ReSizePic(this); //设置图片大小
                        this.parentNode.style.display = 'block';
                        var oParent = this.parentNode;
                        if(nowHeight){
                            oParent.style.paddingTop = (oParent.offsetHeight - nowHeight)/2 + 'px';
                        }

                        var expectWidth = this.naturalWidth;
                        var expectHeight = this.naturalHeight;
                        if (this.naturalWidth > this.naturalHeight && this.naturalWidth > 800) {
                            expectWidth = 800;
                            expectHeight = expectWidth * this.naturalHeight / this.naturalWidth;
                        } else if (this.naturalHeight > this.naturalWidth && this.naturalHeight > 1200) {
                            expectHeight = 1200;
                            expectWidth = expectHeight * this.naturalWidth / this.naturalHeight;
                        }
                        canvas = document.createElement("canvas");
                        document.getElementsByTagName('body')[0].appendChild(canvas);
                        var ctx = canvas.getContext("2d");
                        canvas.width = expectWidth;
                        canvas.height = expectHeight;
                        ctx.drawImage(this, 0, 0, expectWidth, expectHeight);
                        if (Orientation !== "" && Orientation !== 1) {
                            console.log('旋转处理')
                            // alert('旋转处理');
                            switch (Orientation) {
                                case 6:
                                    console.log('（向左）90度旋转')
                                    // alert('（向左）90度旋转');
                                    rotateImg(this, 'left', canvas);
                                    break;
                                case 8:
                                    console.log('向右）90度旋转')
                                    // alert('向右）90度旋转');
                                    rotateImg(this, 'right', canvas);
                                    break;
                                case 3:
                                    console.log('需要180度旋转')
                                    // alert('需要180度旋转');
                                    rotateImg(this, 'right', canvas);
                                    rotateImg(this, 'right', canvas);
                                    break;
                            }
                        }
                        base64 = canvas.toDataURL("image/jpeg", 0.8);

                    }



                };

                $('.result').find('img').attr('src', base64)

            }
            // }
        }

        function send(){
            var submitArr = [];
            for (var i = 0; i < dataArr.length; i++) {
                if (dataArr[i]) {
                    submitArr.push(dataArr[i]);
                }
            }
            $.ajax({
                url : contextPath + 'img/submit',
                type : 'post',
                data : JSON.stringify(submitArr),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success : function(data){
                    $('#toShow').attr('src', data.path)
                    console.log(data.path)
//                    console.log('返回的数据：'+JSON.stringify(data))
                },
                error: function () {
                    console.log("发生错误")
                }

            })
        }

        $oSelect.on('click', function () {
            var $sib = $(this).next('input[type=file]');
            $sib.val('');
            index = 0;
            $sib.click();
        })
        $oSubmit.on('click', function () {
            if(!dataArr.length){
                return alert('请先选择文件');
            }
            send();
        })
    }
    /*
     用ajax发送fd参数时要告诉jQuery不要去处理发送的数据，
     不要去设置Content-Type请求头才可以发送成功，否则会报“Illegal invocation”的错误，
     也就是非法调用，所以要加上“processData: false,contentType: false,”
     * */
    function ReSizePic(ThisPic) {
        var RePicWidth = 200; //这里修改为您想显示的宽度值

        var TrueWidth = ThisPic.width; //图片实际宽度
        var TrueHeight = ThisPic.height; //图片实际高度

        if(TrueWidth>TrueHeight){
            //宽大于高
            var reWidth = RePicWidth;
            ThisPic.width = reWidth;
            //垂直居中
            var nowHeight = TrueHeight * (reWidth/TrueWidth);
            return nowHeight;  //将图片修改后的高度返回，供垂直居中用
        }else{
            //宽小于高
            var reHeight = RePicWidth;
            ThisPic.height = reHeight;
        }
    }

    function rotateImg(img, direction, canvas) {
        var min_step = 0;
        var max_step = 3;
        if (img == null)
            return;
        var height = img.height;
        var width = img.width;
        var step = 2;
        if (step == null) {
            step = min_step;
        }
        if (direction == 'right') {
            step++;
            step > max_step && (step = min_step);
        } else {
            step--;
            step < min_step && (step = max_step);
        }
        var degree = step * 90 * Math.PI / 180;
        var ctx = canvas.getContext('2d');
        switch (step) {
            case 0:
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0);
                break;
            case 1:
                canvas.width = height;
                canvas.height = width;
                ctx.rotate(degree);
                ctx.drawImage(img, 0, -height);
                break;
            case 2:
                canvas.width = width;
                canvas.height = height;
                ctx.rotate(degree);
                ctx.drawImage(img, -width, -height);
                break;
            case 3:
                canvas.width = height;
                canvas.height = width;
                // ctx.rotate(degree);
                ctx.rotate(Math.PI / 2);
                ctx.drawImage(img, -width, 0);
                // ctx.rotate(Math.PI / 2);
                // ctx.drawImage(img,0, 0, -100, 0)
                break;
        }
    }

</script>

</body>
</html>